In [17]:
class employee:
    empname ="ramesh"
    empage = 20
    empsalary = 7500

In [18]:
obj  = employee()

In [19]:
obj.empname

'ramesh'

In [20]:
obj.empage

20

In [21]:
obj.empsalary

7500

In [22]:
class hindustan:
    dept = "arts"
    deptcode = "bce6364"
    depthod = "sherin"

In [23]:
obj = hindustan()

In [26]:
obj.dept

'arts'

In [27]:
obj.deptcode

'bce6364'

In [28]:

obj.depthod

'sherin'

In [1]:
class employee:
    ename = "sanju"
    eage = 40
    empsalary = 40000
    
    def disp(self):
        print("employeename:%s\nemployeeage:%s\nempsalary:%s"%(ename,eage,esalary))

In [2]:
obj = employee()

In [3]:
obj.disp(ename)

NameError: name 'ename' is not defined

In [42]:
obj.ename

'sanju'

In [76]:
class employee:
    ename = "sanju"
    eage = 40
    esalary = 40000
    
    def disp(self,ename,eage,esalary):
        print("employeename:%s\nemployeeage:%s\nempsalary:%s"%(self.ename,self.eage,self.esalary))

In [77]:
obj1 = employee()

In [78]:
obj1.disp("sanju",40,40000)

employeename:sanju
employeeage:40
empsalary:40000

In [79]:
obj1.disp(ename,esalary,eage)

NameError: name 'ename' is not defined

In [8]:
class student:
    sname = "ramesh"
    sid = 19351005
    sdept ="mca"
    def disp(self,sname,sid,sdept):
        print("studentname:%s\nstudentid:%s\nstudentdept:%s"%(self.sname,self.sid,self.sdept))

In [9]:
obj = student()

In [10]:
obj.sdept

'mca'

In [11]:
obj.sid

19351005

In [12]:
obj.sname

'ramesh'

In [14]:
obj.disp("",9,"")

studentname:ramesh
studentid:19351005
studentdept:mca

In [82]:
class add:
    def sum_function(self,x,y):
        sum  = x +y
        print(sum)

In [83]:
obj = add()

In [85]:
obj.sum_function(20,30)

50

In [89]:
class multiple:
    def sum_multiplication (self,a,b):
        sum  =a*b
        return(sum)

In [90]:
obj  = multiple()

In [92]:
obj.sum_multiplication (4,4)

16

In [93]:
class dived:
    def sum_divided  (self,a,b):
        sum  =a/b
        return(sum)

In [95]:
obj = dived()

In [96]:
obj.sum_divided (5,2)

2.5

In [97]:
obj.sum_divided (5,3)

1.6666666666666667

In [3]:
class student:
    name = "uttam"
    rollno = 19351002
    dept = "bca"

In [5]:
obj = student()

In [7]:
obj.name

'uttam'

In [8]:
obj.rollno

19351002

In [9]:
obj.dept

'bca'

In [10]:
class collage:
    name = "hits"
    clgid = 33748
    clgaddress = "chennai,padur,603110"

In [11]:
obj = collage()

In [12]:
obj.name

'hits'

In [13]:
obj.clgid

33748

In [14]:
obj.clgaddress

'chennai,padur,603110'

In [22]:
class add:
    def sum_functionadd (self,a,b):
        sum = a+b
        print(sum)

In [23]:
obj = add()

In [25]:
obj.sum_functionadd (2,2)

4

In [5]:
class multiple:
    def x(self,c,d):
        sum  = c*d
        print(sum)

In [6]:
obj = multiple()

In [7]:
obj.x(3,3)

9

In [43]:
class collage:
    name = "hindustan"
    clgid = 33748
    clgaddress = "chennai,padur,603110"
    
    def collage(self,name = "hindustan"):
        self.name = name
        print(name+" "+"university")

In [44]:
obj1 = collage()

In [45]:
obj1.clgaddress

'chennai,padur,603110'

In [46]:
obj1.collage

In [47]:
obj1.name

'hindustan'

In [50]:
obj1.collage()

hindustan university

In [75]:
class bike:
    name = "pulser"
    serialno  = "bdg563353"
    brand = "bajaj"
    def bike(self,name = "pulser"):
        self.name = name
        print(name+" "+"150 twin disk")

In [76]:
obj = bike()

In [77]:
obj.name

'pulser'

In [78]:
obj.bike()

pulser 150 twin disk

In [79]:
obj.serialno

'bdg563353'

In [1]:
class bike:
       
    def bike1(self,name = "fz",serial = "bdgrty2345",brand = "hero"):
        self.name = name
        self.serial = serial
        self.brand = brand
        print(name+" "+"150 twin disk","\nserial no: ",serial,"\nBrand: ", brand)
        print(brand + "honda")
            
    def bike2(self,name = "pulser",serial = "bdgrty2345",brand = "bajaj"):
        self.name = name
        self.serial = serial
        self.brand = brand
        print(name+" "+"150 twin disk","\nserial no: ",serial,"\nBrand: ", brand)

In [2]:
obj2 = bike()

In [3]:
obj2.bike1()

fz 150 twin disk
serial no:  bdgrty2345
Brand:  hero
herohonda

In [92]:
obj2.bike2()

pulser 150 twin disk
serial no:  bdgrty2345
Brand:  bajaj

In [93]:
obj2.serial

'bdgrty2345'

In [94]:
obj2.brand

'bajaj'

In [96]:
obj2.name

'pulser'

In [ ]:
class zoo:
    def animal1(self,name = "lion",gender = "male",aid = "lione212"):
        self.name = name
        self.gender = gender
        self.aid = aid

In [101]:
obj2.bike1()

fz 150 twin disk
serial no:  bdgrty2345
Brand:  hero
herohonda

In [97]:
obj2.bike1(brand = "honda")

fz 150 twin disk
serial no:  bdgrty2345
Brand:  honda

In [1]:
class bike:
       
    def bike1(self,name = "fz",serial = "bdgrty2345",brand = "yamaha"):
        self.name = name
        self.serial = serial
        self.brand = brand
        print(name+" "+"150 twin disk","\nserial no: ",serial,"\nBrand: ", brand)
            
    def bike2(self,name = "pulser",serial = "bdgrty2345",brand = "bajaj"):
        self.name = name
        self.serial = serial
        self.brand = brand
        print(name+" "+"150 twin disk","\nserial no: ",serial,"\nBrand: ", brand)

In [80]:
obj = bike()

In [81]:
obj.bike1()

fz 150 twin disk
serial no:  bdgrty2345
Brand:  yamaha

In [82]:
obj.bike2()

pulser 150 twin disk
serial no:  bdgrty2345
Brand:  bajaj

In [83]:
class htop:
    
    def student(self,name = "ramesh",id = 3844747,course = "python"):
        
        self.name = name
        self.id = id
        self.course = "python"
        return("\n name:",name,"\n id:",id,"\n course:",course)

In [84]:
obj = htop()

In [24]:
obj = htop()

In [86]:
class htop:

    name = "ramesh"
    id = 3844747
    course = "python"

In [87]:
obj = htop

In [88]:
obj.name

'ramesh'

In [89]:
obj.id

3844747

In [90]:
obj.course

'python'

In [91]:
class htop:

    name = "ramesh"
    id = 3844747
    course = "python"
    
    def add():
        print(name +" "+"kumar")

In [92]:
obj =htop

In [93]:
obj.name("kumar")

TypeError: 'str' object is not callable

In [94]:
class bike:
       
    def bike1(self,name = "fz",serial = "bdgrty2345",brand = "yamaha"):
        self.name = name
        self.serial = serial
        self.brand = brand
        print(name+" "+"150 twin disk","\nserial no: ",serial,"\nBrand: ", brand)
            
    def bike2(self,name = "pulser",serial = "bdgrty2345",brand = "bajaj"):
        self.name = name
        self.serial = serial
        self.brand = brand
        print(name+" "+"150 twin disk","\nserial no: ",serial,"\nBrand: ", brand)

In [95]:
class hindustan:
    
    def student1(self,name = "uttam",id = 19351002,dept = "bca"):
        self.name = name
        self.id = id
        self.dept = dept
        print(name+" "+"singh","\n id:",id,"\n dept:",dept)
        
    def bike2(self,name = "pulser",serial = "bdgrty2345",brand = "bajaj"):
        self.name = name
        self.serial = serial
        self.brand = brand
        print(name+" "+"150 twin disk","\nserial no: ",serial,"\nBrand: ", brand)

In [96]:
obj = hindustan

In [99]:
obj.bike2

In [38]:
obj.bike2()

TypeError: bike2() missing 1 required positional argument: 'self'

In [35]:
class bike:
       
    def bike1(self,name = "fz",serial = "bdgrty2345",brand = "yamaha"):
        self.name = name
        self.serial = serial
        self.brand = brand
        print(name+" "+"150 twin disk","\nserial no: ",serial,"\nBrand: ", brand)
            
    def bike2(self,name = "pulser",serial = "bdgrty2345",brand = "bajaj"):
        self.name = name
        self.serial = serial
        self.brand = brand
        print(name+" "+"150 twin disk","\nserial no: ",serial,"\nBrand: ", brand)

In [36]:
obj = bike

In [37]:
obj.bike1()

TypeError: bike1() missing 1 required positional argument: 'self'

In [10]:
class htop:

    name = "ramesh","ram","alan"
    id = 3844747
    course = "python"
def htop(*student):
    print("older student is:"+" "+student[2])

In [11]:
htop("ramesh","ram","alan")

older student is: alan

In [20]:
class htop:
    name  = (self,"alan","ram","tom")
    self.name = name
    
    def htop(*student):
        print("older student is:"+" "+student[1])

NameError: name 'self' is not defined

In [16]:
obj = htop

In [15]:

obj.student()

AttributeError: type object 'htop' has no attribute 'student'

In [26]:
class hindustan:
    
    def student1(self,name = "uttam",id = 19351002,dept = "bca"):
        self.name = name
        self.id = id
        self.dept = dept
        print(name+" "+"singh","\n id:",id,"\n dept:",dept)
        
    def bike2(self,name = "pulser",serial = "bdgrty2345",brand = "bajaj"):
        self.name = name
        self.serial = serial
        self.brand = brand
        print(name+" "+"150 twin disk","\nserial no: ",serial,"\nBrand: ", brand)

In [28]:
obj = hindustan()

In [31]:
obj.student1()

uttam singh
 id: 19351002
 dept: bca

In [33]:
obj.bike2()

pulser 150 twin disk
serial no:  bdgrty2345
Brand:  bajaj

In [44]:
class dog:
    def __inti__(self,color):
        self.color = color

In [46]:
obj = dog("black")

TypeError: dog() takes no arguments

In [54]:
class dog:
    def __init__(self,color):
        self.color = color
        
obj = dog("black")

In [55]:
obj.color

'black'

In [57]:
obj = dog("white")

In [58]:
obj.color

'white'

In [61]:
class dog:
    def __init__(self,color,age):
        self.color = color
        self.age = age

In [65]:
obj = dog("black",2)

In [66]:
obj.color

'black'

In [67]:
obj.age

2

In [68]:
class dog:
    def __init__(self,color,age,name):
        self.color = color
        self.age = age
        self.name = name

In [69]:
obj = dog("white and black",2,"mani")

In [70]:
obj.color

'white and black'

In [71]:
obj.age

2

In [72]:
obj.name

'mani'

In [73]:
obj = dog("brown",4,"rocky")

In [75]:
obj.name

'rocky'

In [76]:
obj.age

4

In [92]:
class dog:
    def __init__(self,color,age,name):
        self.color = color
        self.age = age
        self.name = name
        
    def display(self):
            print("dog color:%s \n dog age:%s \n dog name: %s"%(self.color,self.age,self.name))

In [93]:
obj = dog("brown",4,"rocky")

In [94]:
obj.color

'brown'

In [95]:
obj.name

'rocky'

In [96]:
obj.display()

dog color:brown
 dog age:4
 dog name: rocky

In [97]:
class dog:
    def __init__(self,color = "white",age = 4,name = "tom"):
        self.color = color
        self.age = age
        self.name = name
        
    def display(self):
            print("dog color:%s \n dog age:%s \n dog name: %s"%(self.color,self.age,self.name))

In [98]:
obj = dog()

In [99]:
obj.age

4

In [100]:
obj.color

'white'

In [101]:
obj.name

'tom'

In [103]:
obj.display()

dog color:white
 dog age:4
 dog name: tom

In [105]:
obj = dog("black and brown",5,"jeery")

In [106]:
obj.age

5

In [107]:
obj.display()

dog color:black and brown
 dog age:5
 dog name: jeery

In [125]:
class employee:
    def __init__(self):
        self.ename = "sanju"
        self.eage = 40
        self.esalary = 40000
    
    def disp(self):
        
        print("employeename:%s \nemployeeage:%s \nempsalary:%s"%(self.ename,self.eage,self.esalary))

In [126]:
obj=employee()

In [128]:
obj.disp()

employeename:sanju
employeeage:40
empsalary:40000

In [129]:
obj.eage

40

In [3]:
class student:
    def __init__(self,name,age,salary):
        self.name = name
        self.age = age 
        self.salary = salary

In [9]:
obj = student("ram",21,36454)

In [10]:
obj.name

'ram'

In [11]:
obj.salary

36454

In [12]:
obj.age

21

In [17]:
class htop:
    def __init__(self,course,student_name,course_durations,fees):
        self.course = course
        self.student_name = student_name
        self.course_durations = course_durations
        self.fees = fees

In [18]:
obj = htop("python ","ramesh","3 month",10000)

In [19]:
obj.course

'python '

In [20]:
obj.fees

10000

In [21]:
obj.student_name

'ramesh'

In [22]:
obj.course_durations

'3 month'

In [50]:
class htop:
    def __init__(self,course,student_name,course_durations,fees):
        self.course = course
        self.student_name = student_name
        self.course_durations = course_durations
        self.fees = fees
        
    def disp(self):
        print("course:%s \nstudent_name:%s \ncourse_durations:%s \nfees:%s" %(self.course ,self.student_name, self.course_durations,self.fees))

In [51]:
obj = htop("python ","ramesh","3 month",10000)

In [52]:
obj.course_durations

'3 month'

In [53]:
obj.student_name

'ramesh'

In [55]:
obj.disp()

course:python
student_name:ramesh
course_durations:3 month
fees:10000

In [56]:
obj.fees

10000

In [61]:
obj = htop("java","mani","4m","12000")

In [62]:
obj.course

'java'

In [63]:
obj.course_durations

'4m'

In [65]:
obj.disp()

course:java
student_name:mani
course_durations:4m
fees:12000

In [66]:
obj.fees

'12000'

In [67]:
obj.student_name

'mani'

In [20]:
class htop:
    def __init__(self,course = ".net", student_name = "sai", course_durations = "1year", fees = 20000):
        self.course = course
        self.student_name = student_name
        self.course_durations = course_durations
        self.fees = fees
        
    def disp(self):
        print("course:%s \nstudent_name:%s \ncourse_durations:%s \nfees:%s" %(self.course ,self.student_name, self.course_durations,self.fees))

In [21]:
obj = htop()

In [22]:
obj.disp()

course:.net
student_name:sai
course_durations:1year
fees:20000

In [23]:
obj.course_durations

'1year'

In [92]:
obj.course

'.net'

In [93]:
obj.fees

20000

In [94]:
obj.student_name

'sai'

In [15]:
class htop:
    def __init__(self,course = ".net", student_name = "sai", course_durations = "1year", fees = 20000):
        self.course = course
        self.student_name = student_name
        self.course_durations = course_durations
        self.fees = fees
        
    def disp(self):
        print("course:%s \nstudent_name:%s \ncourse_durations:%s \nfees:%s" %(self.course ,self.student_name, self.course_durations,self.fees))

In [16]:
obj = htop("c++","jon","3m",1300)

In [17]:
obj.course

'c++'

In [18]:
obj.course_durations

'3m'

In [19]:
obj.disp()

course:c++
student_name:jon
course_durations:3m
fees:1300

In [105]:
obj.fees

1300

In [106]:
obj.student_name

'jon'

In [111]:
class address:
    homeno  =28
    homestreet = "mgr nager 2 main road"
    city = "thiruporur"

In [112]:
obj = address

In [113]:
obj.city

'thiruporur'

In [114]:
obj.homeno

28

In [115]:
obj.homestreet

'mgr nager 2 main road'

In [118]:
obj.mro()

[__main__.address, object]

In [6]:
class address:
    homeno  =28
    homestreet = "mgr nager 2 main road"
    city = "thiruporur"

In [7]:
obj = address()

In [10]:
obj.homeno

28

In [9]:
obj.city

'thiruporur'

In [19]:
class calculation:
    def __init__(self,a,b):
        self.a = a
        self.b = b
        
    def add(self):
        sum =self.a+self.b
        return(sum)
    
    def sub(self):
        sub =self.a-self.b
        return(sub)
    
    def multi(self):
        mul =self.a*self.b
        return(mul)
    
    def power(self):
        po =self.a**self.b
        return(po)

In [20]:
obj = calculation(2,3)

In [21]:
obj.add()

5

In [24]:
obj.multi()

6

In [26]:
obj.power()

8

In [27]:
obj.sub()

-1

In [1]:
python  = "read .practice.repet!\t"
print(python*3)

read .practice.repet!	read .practice.repet!	read .practice.repet!

In [25]:
for i in range(3):
    python  = ('read .practice.repet!')
    print(python)

read .practice.repet!
read .practice.repet!
read .practice.repet!

In [12]:
#instance attribute
class car:
    def __init__(self):
        self.brand = "maruthi"

In [13]:
obj1 = car()
obj2 = car()
obj1.brand = "bmw"

In [15]:
obj1.brand

'bmw'

In [17]:
obj2.brand

'maruthi'

In [62]:
#instance attribute
class car:
    def __init__(self):
        
        self.brand = "audi"

In [63]:
obj = car()

In [64]:
obj.brand

'audi'

In [65]:
obj . brand = "mg"

In [66]:
obj.brand

'mg'

In [67]:
obj.brand

'mg'

In [35]:
class addingname:
    def __init__(self,a,b):
        self.a = a
        self.b = b
        
    def addstr(self):
        name = self.a+self.b
        return name

In [36]:
obj = addingname("ram","kumar")

In [38]:
obj.addstr()

'ramkumar'

In [49]:
#repeat 
for i in range(3):
    print ('read .practice.repet!')

read .practice.repet!
read .practice.repet!
read .practice.repet!

In [55]:
class hindustan:
    def __init__(self,course,sname,srollno):
        self.course = course
        self.sname = sname
        self.srollno = srollno

In [56]:
obj = hindustan("bca","jon",293939)

In [57]:
obj.course

'bca'

In [60]:
obj.sname

'jon'

In [61]:
obj.srollno

293939

In [79]:
class hindustan :
    def __init__(self,course = "mca",sname = "tom",srollnum = 23444445):
        self.course = course
        self.sname = sname
        self.srollnum = srollnum
    
    def display(self):
        print("course: %s \n sname: %s \n srollnum: %s " % (self.course,self.sname,self.srollnum))

In [80]:
obj = hindustan()

In [81]:
obj.course

'mca'

In [82]:
obj.display()

course: mca
 sname: tom
 srollnum: 23444445

In [83]:
obj.sname

'tom'

In [21]:
class tamilnadu:
    def __init__(self,city_name = "chennai",pincode = 948899,special = "beach"):
        self.city_name = city_name
        self.pincode = pincode
        self.special = special
        
    def display(self):
        print("city_name: %s \n pincode:%s \n special:%s " % (self.city_name,self.pincode,self.special))

In [25]:
obj = tamilnadu("trichy",621214,"mountain temple")

In [26]:
obj.display()

city_name: trichy
 pincode:621214
 special:mountain temple

In [27]:
obj.pincode

621214

In [32]:
class matahmatics:
    def __init__(self,a,b):
        self.a = a
        self.b = b
        
    def add(self):
        sum = self.a+self.b
        print(sum)

In [36]:
obj = matahmatics(2,3)

In [38]:
obj.add()

5

In [49]:
class addingstring:
    def __init__(self,x,y):
        self.x = x
        self.y = y
    
    def name(self):
        name = self.x+self.y
        print(name)
        
    def display(self):
        print("x:%s \n y:%s "%(self.x,self.y))

In [50]:
obj = addingstring("1935","1005")

In [51]:
obj.x

'1935'

In [52]:
obj.y

'1005'

In [53]:
obj.name()

19351005

In [55]:
obj.display()

x:1935
 y:1005

In [56]:
#instance attribute
class name:
    def __init__(self):
        self.a = "raju"

In [57]:
obj = name()

In [58]:
obj.a

'raju'

In [60]:
obj.name= ("bheem")

In [61]:
obj.name

'bheem'

In [1]:
class error(Exception):
    def __init__(self, message):
        self.message = message
        super().__init__(self.message)

In [2]:
on =error()

TypeError: __init__() missing 1 required positional argument: 'message'