In [1]:
list1  = ["ramesh","dhinesh","kumar","nandha","uttam"]

In [2]:
list1

['ramesh', 'dhinesh', 'kumar', 'nandha', 'uttam']

In [3]:
for x in list1:
    print(x)

ramesh
dhinesh
kumar
nandha
uttam

In [4]:
for x in list1:
    print(x)
else:
    print("loop ended")

ramesh
dhinesh
kumar
nandha
uttam
loop ended

In [12]:
list2 = ["hai","ram","jo","mani"]
for x in list2:
    print(x)
else:
    
   print("dhurai")

hai
ram
jo
mani
dhurai

In [7]:
str1 = 1,1,2,3

In [8]:
for x in str1:
    print(x)

1
1
2
3

In [9]:
type(str1)

tuple

In [15]:
list1

['ramesh', 'dhinesh', 'kumar', 'nandha', 'uttam']

In [16]:
for x in list1:
    print(x)
    if x == "kumar":
        break

ramesh
dhinesh
kumar

In [26]:
list3 = [1,2,3,4,"ram","htop"]
for a in list3:
    print(a)
    if a == 3:
        break

1
2
3

In [32]:
hindustan= ["ramesh","omkar","uttam","mani"]
for f in hindustan:
    print(f)
    if f == "omkar":
        break

ramesh
omkar

In [2]:
hindustan= ["ramesh","omkar","uttam","mani"]
for hits in hindustan:
    if hits == "mani":
        break
    print(hits)

ramesh
omkar
uttam

In [9]:
hindustan= ["ramesh","omkar","uttam","mani"]
for f in hindustan:
  
    if f == "omkar":
        break
    print(f)

ramesh

In [36]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [37]:
for x in range(2,6):
    print(x)

2
3
4
5

In [41]:
for m in range(len("ramesh")):
    print(m)

0
1
2
3
4
5

In [44]:
for x in range(2,16,3):
    print(x)

2
5
8
11
14

str1 = "hello"
for

In [45]:
str1 = "hello"
for x in str1:
    print(x,"index is",str1.index(x))

h index is 0
e index is 1
l index is 2
l index is 2
o index is 4

In [46]:
str2 = "htop solution"
for x in str2:
    print(x,"index is",str2.index(x))

h index is 0
t index is 1
o index is 2
p index is 3
  index is 4
s index is 5
o index is 2
l index is 7
u index is 8
t index is 1
i index is 10
o index is 2
n index is 12

In [48]:
str2 = 1,2,3,4,5,6,7,8
for x in str2:
    print(x,"index is",str2.index(x))

1 index is 0
2 index is 1
3 index is 2
4 index is 3
5 index is 4
6 index is 5
7 index is 6
8 index is 7

In [49]:
l = [1,2,3,4,5,6]
result = 0
for x in l:
    result +=x
    print(result)

1
3
6
10
15
21

In [61]:
l = [1,2,3,4,5,6]
result = 0
for x in l:
    result *=x
    print(result)

0
0
0
0
0
0

In [1]:
str1 = "hello"
for x in str1:
    print(x,"index is",str1.index(x))

h index is 0
e index is 1
l index is 2
l index is 2
o index is 4

In [6]:
f = "rghgbkhhgygfiv ffyftroidythgy"
for a in f:
    print(a,"index of",f.index(a))

r index of 0
g index of 1
h index of 2
g index of 1
b index of 4
k index of 5
h index of 2
h index of 2
g index of 1
y index of 9
g index of 1
f index of 11
i index of 12
v index of 13
  index of 14
f index of 11
f index of 11
y index of 9
f index of 11
t index of 19
r index of 0
o index of 21
i index of 12
d index of 23
y index of 9
t index of 19
h index of 2
g index of 1
y index of 9

In [9]:
for y in range(8):
    print(y)

0
1
2
3
4
5
6
7

In [12]:
for y in range(len("htop")):
    print(y)

0
1
2
3

In [13]:
list3 = [1,2,3,4,"ram","htop"]
for a in list3:
    print(a)
    if a == 3:
        break

1
2
3

In [17]:
h = ["ramesh","htop","yiuwu","jsidj"]
for d in h:
    print(d)
    if d == "yiuwu":
        break

ramesh
htop
yiuwu

In [15]:
l = [1,2,3,4,5,6]
result = 1
for x in l:
    result *=x
    print(result)

1
2
6
24
120
720

In [8]:
x =5
y =10
if x ==y:
    print("false")
elif x !=y:
    print("true")
else:
    print("fake")

true

In [11]:
str2 = "htop solution"
for htop in str2:
    print("hii")

hii
hii
hii
hii
hii
hii
hii
hii
hii
hii
hii
hii
hii